
<div class="mg-panel mg-bg-main">

  <div class="mg-header">
    <div class="mg-special-header-text">
      <div class="mg-special-header-text-1">Mari Gallegos</div>
    </div>
    <div class="mg-special-header-text">
      <div class="mg-special-header-text-2">Mari Gallegos</div>
    </div>
    <div class="mg-special-header-text">
      <div class="mg-special-header-text-3">Mari Gallegos</div>
    </div>
    <div class="mg-header-inner-container">

      <table class="mg-toolbar-table">
        <tr>
          <td class="mg-toolbar-td side"><a ng-href="#"><span>About<span></a></td>
          <td class="mg-toolbar-td center">

          </td>
          <td class="mg-toolbar-td side"><a ng-href="#/work"><span>Work<span></a></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="mg-container">
    <div class="mg-inner-container">

  <!--<div class="mg-banner">&nbsp;</div>-->
    <div class="jumbotron first mg-bg-texture-2" >
    <div class="mg-resume">
      <div class="mg-resume-item highlight mg-design-1">
        <div class="left">
          <div class="mg-img-chi"></div>
        </div>
        <div class="middle">
          <span class="mg-special-text">Howdy!</span>
          <p class="mg-welcome-text mg-readable-text">
            My name is <span class="mg-special-text">Mari</span>, and I am a web developer
            residing and working in Chicago, IL for Hewlett-Packard Enterprise
          </p>
        </div>
        <div class="right">
          <div class="mg-img-hplogo"></div>
        </div>
      </div>
        <div class="mg-resume-item highlight">
          <h2>Personal Brand</h2>
          <ul class="no-list">
            <li>
              I believe every person should invest in a personal brand.  Mine has always been my chief strength.
              I represent and value a strong, independent work-ethic.  I hungers to perform not only during clutch periods, but every day;
              to dive into new technology and tackle problems even when no external resources are available.  I take pride in my work. I work to learn,
              grow, and advance.  Over the years I have been fortunate to have this brand recognized and rewarded by my peers.  I have been granted a leadership
              role in every job I've held since I started working at 16.
            </li>
          </ul>
        </div>

        <div class="mg-resume-item highlight">
          <h2>Technical Skills</h2>
          <ul>
              <li> JavaScript, jQuery, ExtJS, Ajax</li>
              <li> CSS, HTML, SASS, Compass CSS</li>
              <li> XML, JSON </li>
              <li> Java, C/C++, C# </li>
            <li> ASP .NET: MVC4, Web Forms</li>
              <li> SharePoint Web Part development</li>
              <li> IIS/Tomcat application deployment </li>
              <li> Photoshop, Illustrator</li>
          </ul>
        </div>

        <div class="mg-resume-item highlight">
          <h2 >Education</h2>
          <ul>
              <li>
                <span class="mg-subheader-it">Carnegie Mellon University </span>
          <br/><span class="mg-subheader-txt">Masters of Science in Mechanical Engineering, DEC 2012 </span>
          </li>
          <li>
            <span class="mg-subheader-it"> University of Southern California </span>
          <br/><span class="mg-subheader-txt">Bachelors of Science in Mechanical Engineering	, MAY 2011</span>
          </li>
          </ul>
      </div>

      <div class="mg-resume-item spotlight">
          <h2>Ethos</h2>
          <ul class="no-list">
            <li >
              <p>
                "Freedom is an inner awareness, a knowing that nothing can touch the truth of who you are; it is the "I am" that is within you and everyone."
            <br/><br/>
            -Ed and Deb Shapiro
              </p>
            </li>
          </ul>
        </div>

  </div>
  </div>



<div class="row marketing">
  <h4>Looking for a formal resume?  </h4>
  <p class="pad-left-20">
    You can download a PDF version
    <a href="Mari_Gallegos_Resume_2014.pdf" target="_blank" type="application/octet-stream" download="Mari_Gallegos_Resume.pdf">HERE</a>.
  </p>
</div>

    </div>
    <div class="footer">
      <p><a href="mailto:mari.gallegos@hp.com">mari.gallegos@hp.com</a></p>
    </div>
  </div>

</div>
