<div class="mg-panel mg-bg-main">


  <div class="mg-header">
    <div class="mg-special-header-text">
      <div class="mg-special-header-text-1">Mari Gallegos</div>
    </div>
    <div class="mg-special-header-text">
      <div class="mg-special-header-text-2">Mari Gallegos</div>
    </div>
    <div class="mg-special-header-text">
      <div class="mg-special-header-text-3">Mari Gallegos</div>
    </div>
    <div class="mg-header-inner-container">

      <table class="mg-toolbar-table">
        <tr>
          <td class="mg-toolbar-td side"><a ng-href="#"><span>About<span></a></td>
          <td class="mg-toolbar-td center">

          </td>
          <td class="mg-toolbar-td side"><a ng-href="#/work"><span>Work<span></a></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="mg-container">
    <div class="mg-inner-container">
      <div class="jumbotron first mg-bg-texture-2" >
        <div class="mg-resume">

          <div class="mg-ri first mg-ri-design-1 mg-resume-item-table">
            <div class="mg-table-row">
              <div class="mg-table-left ">
                <div class="mg-img-girl"></div>
              </div>
              <div class="mg-table-right">
                <!--<div class="mg-div-text">-->
                  <span class="mg-special-text">Howdy!</span>
                  <p class="mg-welcome-text mg-readable-text">
                    My name is <span class="mg-special-text">Mari</span>, and I am a web developer
                    residing and working in Chicago, IL for Hewlett Packard Enterprise
                  </p>
                  <div class="mg-img-illinois"></div>
                <!--</div>-->
              </div>
            </div>
          </div>

		  <div class="mg-ri mg-resume-item mg-ri-design-5 gray mg-resume-item-table">
		    <div class="mg-table-middle mg-va-m">
              <h1 class="mg-h">
                Technical Skills
              </h1>
              <div class="content">
              <div class="left course">
                <div class="title">
                  <div class="mg-div-img mg-img-essentials"></div>
                </div>
                <div class="icon">
                  <div class="mg-div-txt">Essentials</div>
                  HTML<br/>
                  CSS<br/>
                  AJAX<br/>
                </div>
              </div>
              <div class="middle course">
                <div class="title">
                  <div class="mg-div-img mg-img-widgets"></div>
                </div>
                <div class="icon">
                  <div class="mg-div-txt">Widgets</div>
                  HTML<br/>
                  CSS<br/>
                  AJAX<br/>
                </div>
              </div>
              <div class="right course">
                <div class="title">
                  <div class="mg-div-img mg-img-frameworks"></div>
                </div>
                <div class="icon">
                  <div class="mg-div-txt">Frameworks</div>
                  HTML<br/>
                  CSS<br/>
                  AJAX<br/>
                </div>
              </div>
              <div class="middle course">
                <div class="title">
                  <div class="mg-div-img mg-img-widgets"></div>
                </div>
                <div class="icon">
                  <div class="mg-div-txt">Widgets</div>
                  HTML<br/>
                  CSS<br/>
                  AJAX<br/>
                </div>
              </div>
            </div>
              <div class="content">
              <div class="left course">
                <div class="title">
                  <div class="mg-div-img mg-img-repos"></div>
                </div>
                <div class="icon">
                  <div class="mg-div-txt">Repos</div>
                  HTML<br/>
                  CSS<br/>
                  AJAX<br/>
                </div>
              </div>
              <div class="middle course">
                <div class="title">
                  <div class="mg-div-img mg-img-chrome-color"></div>
                </div>
                <div class="icon">
                  <div class="mg-div-txt">Google</div>
                  HTML<br/>
                  CSS<br/>
                  AJAX<br/>
                </div>
              </div>
              <div class="right course">
                <div class="title">
                  <div class="mg-div-img mg-img-sharepoint"></div>
                </div>
                <div class="icon">
                  <div class="mg-div-txt">SharePoint</div>
                  HTML<br/>
                  CSS<br/>
                  AJAX<br/>
                </div>
              </div>
              <div class="middle course">
                <div class="title">
                  <div class="mg-div-img mg-img-chrome-color"></div>
                </div>
                <div class="icon">
                  <div class="mg-div-txt">Google</div>
                  HTML<br/>
                  CSS<br/>
                  AJAX<br/>
                </div>
              </div>
            </div>
            </div>
          </div>

          <div class="mg-ri mg-resume-item mg-ri-design-hp mg-resume-item-table">
          	<div class="mg-table-middle mg-va-m">
          	<div class="mg-cell">
          	  <h1 class="mg-h">Employment</h1>
              <div class="mg-div-img mg-img-hp-black"></div>
              <div class="mg-div-img mg-img-hpe"></div>
              <div class="mg-div-txt">
                I started working for HP fresh out of grad school and have been with the company
                for the past 2.5 years.  The company has recently transitioned into two companies:
                HP Inc. and Hewlett Packard Enterprise.  <br/><br/> My office specializes in enterprise
                Big Data software and is now part of Hewlett Packard Enterprise. For a more
                detailed look at the projects I have worked on in the past few years, please click:
                <span>Work</span> in the navigation toolbar.
              </div>
            </div>
            </div>
          </div>
          
          <div class="mg-ri mg-resume-item mg-ri-design-projects mg-resume-item-table">
          	<div class="mg-table-middle mg-va-m">
          	<div class="mg-cell">
          	  <h1 class="mg-h">Projects</h1>
              <h2> White Rabbit </h2>
              <div class="mg-div-txt">
                Project White Rabbit is the most modern application ins the worksite
              </div>
            </div>
            </div>
          </div>

          <div class="mg-ri mg-resume-item mg-ri-design-2">
            <div class="top">
              <h1 class="mg-h">Education</h1>
            </div>
            <div class="middle">
              <div class="left">
                <div class="mg-div-cntr">
                  <div class="mg-div-text">Undergrad</div>
                  <div class="mg-div-img mg-img-usc"></div>
                  <div class="mg-div-text mg-txt-college">USC</div>
                </div>
              </div>
              <div class="right">
                <div class="mg-div-cntr">
                  <div class="mg-div-text">Grad</div>
                  <div class="mg-div-img mg-img-cmu"></div>
                  <div class="mg-div-text mg-txt-college">CMU</div>
                </div>
              </div>
            </div>

            <div class="bottom">
              <span class="mg-readable-text">I have a Bachelor's degree from the University
                of Southern California and a Master's degree from Carnegie Mellon University
                in Mechanical Engineering</span>
            </div>
          </div>

          
          <div class="mg-ri mg-resume-item spotlight">
              <h1>Contact</h1>
              <ul class="no-list">
                <li>Formal Resume</li>
                <li>Email</li>
                <li>Facebook</li>
                <li>LinkedIn</li>
              </ul>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
