
<div class="mg-panel mg-bg-main">

  <div class="mg-header">
    <div class="mg-special-header-text">
      <div class="mg-special-header-text-1">Mari Gallegos</div>
    </div>
    <div class="mg-special-header-text">
      <div class="mg-special-header-text-2">Mari Gallegos</div>
    </div>
    <div class="mg-special-header-text">
      <div class="mg-special-header-text-3">Mari Gallegos</div>
    </div>
    <div class="mg-header-inner-container">

      <table class="mg-toolbar-table">
        <tr>
          <td class="mg-toolbar-td side"><a ng-href="#"><span>About<span></a></td>
          <td class="mg-toolbar-td center">

          </td>
          <td class="mg-toolbar-td side"><a ng-href="#/work"><span>Work<span></a></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="mg-container">
    <div class="mg-inner-container">
      <div class="jumbotron first mg-bg-texture-2" >
        <div class="mg-resume">

          <div class="mg-resume-item mg-ri-design-1">
            <div class="left">
              <div class="mg-img-girl"></div>
            </div>
            <div class="right">
              <div class="mg-div-text">
                <span class="mg-special-text">Howdy!</span>
                <p class="mg-welcome-text mg-readable-text">
                  My name is <span class="mg-special-text">Mari</span>, and I am a web developer
                  residing and working in Chicago, IL for Hewlett-Packard Enterprise
                </p>
                <div class="mg-img-illinois"></div>
              </div>
            </div>
          </div>

          <div class="mg-resume-item mg-ri-design-2">
              <div class="top">
                <span class="mg-header-text">Education</span>
              </div>
              <div class="left">
                <div class="mg-div-text">Undergrad</div>
                <div class="mg-img-usc"></div>
                <div class="mg-div-text mg-txt-college">USC</div>
              </div>
              <div class="right">
                <div class="mg-div-text">Grad</div>
                <div class="mg-img-cmu"></div>
                <div class="mg-div-text mg-txt-college">CMU</div>
              </div>
              <div class="bottom">
                <span class="mg-readable-text">I have a Bachelor's degree from the University
                  of Southern California and a Master's degree from Carnegie Mellon University
                  in Mechanical Engineering</span>
              </div>
            </div>

          <div class="mg-resume-item mg-ri-design-3 mg-img-fox"></div>

          <div class="mg-resume-item mg-ri-design-4">
            Mechanical Engineering is arguably the broadest of engineering majors.  It takes in a wide range of
            engineering disciplines and exposes its students to the designs and patterns of how our world works.
            <br/><br/>
            In my academic jaunts through different engineering classes, I was exposed to basic computational programming
            and numerical methods and craved more of that genre.
            <br/><br/>
            I attended Carnegie Mellon for grad school because of the notable influence of the school's
            Computer Science program over the Mechanical Engineering curriculum.
            Whilst I was there I fell in love with web development and gleamed some useful feathers
            for my cap before heading off into industry.
          </div>

          <div class="mg-resume-item mg-ri-design-5">
            <div class="header">
              <h3>
                Relevant Courses
              </h3>
            </div>
            <div class="content">
              <div class="left course"><div class="title">Web <br/> Course 1</div><div class="icon"></div></div>
              <div class="middle course"><div class="title">Web <br/> Course 2</div><div class="icon"></div></div>
              <div class="right course"><div class="title"> Web <br/> Course 3</div><div class="icon"></div></div>
            </div>
            <div class="content">
              <div class="left course"><div class="title">Web <br/> Course 1</div><div class="icon"></div></div>
              <div class="middle course"><div class="title">Web <br/> Course 2</div><div class="icon"></div></div>
              <div class="right course"><div class="title"> Web <br/> Course 3</div><div class="icon"></div></div>
            </div>
          </div>

          <div class="mg-resume-item highlight">
            <h2>Technical Skills</h2>
            <ul>
                <li> JavaScript, jQuery, ExtJS, Ajax</li>
                <li> CSS, HTML, SASS, Compass CSS</li>
                <li> XML, JSON </li>
                <li> Java, C/C++, C# </li>
              <li> ASP .NET: MVC4, Web Forms</li>
                <li> SharePoint Web Part development</li>
                <li> IIS/Tomcat application deployment </li>
                <li> Photoshop, Illustrator</li>
            </ul>
          </div>

          <div class="mg-resume-item highlight">
            <h2 >Education</h2>
            <ul>
                <li>
                  <span class="mg-subheader-it">Carnegie Mellon University </span>
            <br/><span class="mg-subheader-txt">Masters of Science in Mechanical Engineering, DEC 2012 </span>
            </li>
            <li>
              <span class="mg-subheader-it"> University of Southern California </span>
            <br/><span class="mg-subheader-txt">Bachelors of Science in Mechanical Engineering	, MAY 2011</span>
            </li>
            </ul>
          </div>

          <div class="mg-resume-item spotlight">
              <h2>Ethos</h2>
              <ul class="no-list">
                <li >
                  <p>
                    "Freedom is an inner awareness, a knowing that nothing can touch the truth of who you are; it is the "I am" that is within you and everyone."
                <br/><br/>
                -Ed and Deb Shapiro
                  </p>
                </li>
              </ul>
            </div>
        </div>
      </div>
    </div>
  </div>


<!--<div class="row marketing">
  <h4>Looking for a formal resume?  </h4>
  <p class="pad-left-20">
    You can download a PDF version
    <a href="Mari_Gallegos_Resume_2014.pdf" target="_blank" type="application/octet-stream" download="Mari_Gallegos_Resume.pdf">HERE</a>.
  </p>
</div>

    </div>
    <div class="footer">
      <p><a href="mailto:mari.gallegos@hp.com">mari.gallegos@hp.com</a></p>
    </div>
  </div>-->

</div>
