<div class="mg-welcome-panel mg-bg-welcome">
  <div class="mg-special-header-text">
    <div class="mg-special-header-text-1">Mari</div>
  </div>
  <div class="mg-special-header-text">
    <div class="mg-special-header-text-2">Mari</div>
  </div>
  <div class="mg-special-header-text">
    <div class="mg-special-header-text-3">Mari</div>
  </div>

  <div class="mg-welcome-summary">A Chicago-based Web Developer&nbsp;</div>

  <a href="" class="mg-welcome-button" data-ng-click="openLink('about')">
    <div>Enter</div>
  </a>
</div>
