<div class="jumbotron bg-texture mg-page-work">

  <h1>Projects</h1>
  <p class="mg-entry-text">
  	I started working at <span class="mg-special-text">HP Enterprise</span> on January 7, 2013. <br/>
  	During my tenure I have contributed predominantly as a front-end developer. <br/>
  	I have executed <span class="mg-special-text">2</span> application-wide re-skins, <br/>
  	been involved in <span class="mg-special-text">4</span> major product version releases, </br>
  	and aided in multiple minor updates and patches. <br/>
  </p>

  <div class="mg-resume">
    <div class="mg-project-item odd">
    	<h2>HP Universal Search</h2>
    		<div class="mg-project-images first">
    			<h3> 8.0,8.1 </h3>
    	    	<div class="mg-lb-img"><a href="/images/HPUS8/Home_Red.png" data-lightbox="HPUS8" data-title="This is caption for this image."><img style="width:44px;" src="/images/HPUS/Home_Green.png"/></a></div>
    	    	<div class="mg-lb-img"><a href="/images/HPUS8/Home_Green.png" data-lightbox="HPUS8" data-title="This is caption for this image."><img style="width:44px;" src="/images/HPUS/Home_Green.png"/></a></div>
    	    	<div class="mg-lb-img"><a href="/images/HPUS8/Search.png" data-lightbox="HPUS8" data-title="This is caption for this image."><img style="width:44px;" src="/images/HPUS/Home_Green.png"/></a></div>
    	    	<div class="mg-lb-img"><a href="/images/HPUS8/Search_Green_motion.png" data-lightbox="HPUS8" data-title="This is caption for this image."><img style="width:44px;" src="/images/HPUS/Home_Green.png"/></a></div>
    	    	<div class="mg-lb-img"><a href="/images/HPUS8/Filters_Green_Client.png" data-lightbox="HPUS8" data-title="This is caption for this image."><img style="width:44px;" src="/images/HPUS/Home_Green.png"/></a></div>
    	    	<div class="mg-lb-img"><a href="/images/HPUS8/Filters_Green_Search" data-lightbox="HPUS8" data-title="This is caption for this image."><img style="width:44px;" src="/images/HPUS/Home_Green.png"/></a></div>
    	    	<div class="mg-lb-img"><a href="/images/HPUS8/Applied Filter_Green_Email" data-lightbox="HPUS8" data-title="This is caption for this image."><img style="width:44px;" src="/images/HPUS/Home_Green.png"/></a></div>
    	    	<div class="mg-lb-img"><a href="/images/HPUS8/EmailPreview_Green.png" data-lightbox="HPUS8" data-title="This is caption for this image."><img style="width:44px;" src="/images/HPUS/Home_Green.png"/></a></div>
    	    	<div class="mg-lb-img"><a href="/images/HPUS8/EmailPreview_Attachment.png" data-lightbox="HPUS8" data-title="This is caption for this image."><img style="width:44px;" src="/images/HPUS/Home_Green.png"/></a></div>
    	    	<div class="mg-lb-img"><a href="/images/HPUS8/AddCriteria_Green_Green.png" data-lightbox="HPUS8" data-title="This is caption for this image."><img style="width:44px;" src="/images/HPUS/Home_Green.png"/></a></div>
    	    	<div class="mg-lb-img"><a href="/images/HPUS8/AddCriteria_FileFormatEmail.png" data-lightbox="HPUS8" data-title="This is caption for this image."><img style="width:44px;" src="/images/HPUS/Home_Green.png"/></a></div>
    	    	<div class="mg-lb-img"><a href="/images/HPUS8/360View.png" data-lightbox="HPUS8" data-title="This is caption for this image."><img style="width:44px;" src="/images/HPUS/Home_Green.png"/></a></div>
    	    </div>
    	    <div class="mg-project-images second">
    	    	<h3> 7.4,7.5 </h3>
    	    	<div class="mg-lb-img"><a href="/images/HPUS/Home_Green.png" data-lightbox="HPUS7" data-title="This is caption for this image."><img style="width:44px;" src="/images/HPUS/Home_Green.png"/></a></div>
    	    	<div class="mg-lb-img"><a href="/images/HPUS/Home_Green.png" data-lightbox="HPUS7" data-title="This is caption for this image."><img style="width:44px;" src="/images/HPUS/Home_Green.png"/></a></div>
    	    	<div class="mg-lb-img"><a href="/images/HPUS/Home_Green.png" data-lightbox="HPUS7" data-title="This is caption for this image."><img style="width:44px;" src="/images/HPUS/Home_Green.png"/></a></div>
    	    	<div class="mg-lb-img"><a href="/images/HPUS/Home_Green.png" data-lightbox="HPUS7" data-title="This is caption for this image."><img style="width:44px;" src="/images/HPUS/Home_Green.png"/></a></div>
    	    	<div class="mg-lb-img"><a href="/images/HPUS/Home_Green.png" data-lightbox="HPUS7" data-title="This is caption for this image."><img style="width:44px;" src="/images/HPUS/Home_Green.png"/></a></div>
    	    	<div class="mg-lb-img"><a href="/images/HPUS/Home_Green.png" data-lightbox="HPUS7" data-title="This is caption for this image."><img style="width:44px;" src="/images/HPUS/Home_Green.png"/></a></div>
    	    	<div class="mg-lb-img"><a href="/images/HPUS/Home_Green.png" data-lightbox="HPUS7" data-title="This is caption for this image."><img style="width:44px;" src="/images/HPUS/Home_Green.png"/></a></div>
    	    	<div class="mg-lb-img"><a href="/images/HPUS/Home_Green.png" data-lightbox="HPUS7" data-title="This is caption for this image."><img style="width:44px;" src="/images/HPUS/Home_Green.png"/></a></div>
    	    	<div class="mg-lb-img"><a href="/images/HPUS/Home_Green.png" data-lightbox="HPUS7" data-title="This is caption for this image."><img style="width:44px;" src="/images/HPUS/Home_Green.png"/></a></div>
    	    	<div class="mg-lb-img"><a href="/images/HPUS/Home_Green.png" data-lightbox="HPUS7" data-title="This is caption for this image."><img style="width:44px;" src="/images/HPUS/Home_Green.png"/></a></div>
    	    	<div class="mg-lb-img"><a href="/images/HPUS/Home_Green.png" data-lightbox="HPUS7" data-title="This is caption for this image."><img style="width:44px;" src="/images/HPUS/Home_Green.png"/></a></div>
    	    	<div class="mg-lb-img"><a href="/images/HPUS/Home_Green.png" data-lightbox="HPUS7" data-title="This is caption for this image."><img style="width:44px;" src="/images/HPUS/Home_Green.png"/></a></div>
    	    	<div class="mg-lb-img"><a href="/images/HPUS/Home_Green.png" data-lightbox="HPUS7" data-title="This is caption for this image."><img style="width:44px;" src="/images/HPUS/Home_Green.png"/></a></div>
    	    	<div class="mg-lb-img"><a href="/images/HPUS/Home_Green.png" data-lightbox="HPUS7" data-title="This is caption for this image."><img style="width:44px;" src="/images/HPUS/Home_Green.png"/></a></div>
    	    	<div class="mg-lb-img"><a href="/images/HPUS/Home_Green.png" data-lightbox="HPUS7" data-title="This is caption for this image."><img style="width:44px;" src="/images/HPUS/Home_Green.png"/></a></div>
    	    </div>
    		<div class="mg-project-item-body">
    	    	<h3>What it is</h3>
        			<ul>
          				<li>A large, highly customizable enterprise-search web application.</li>
          				<li>Interfaces with IDOL server to intelligently display corporate assets</li>
          				<li>Sophisticated metadata filtering and display</li>
          				<li>Text-highlighting </li>
          				<li>Document previewing </li>
          				<li>Social features (tags, comments, likes) </li>
        			</ul>
        		<h3>Under the Hood</h3>
        			<ul>
          				<li>Anvil (in-house framework)</li>
          				<li>ExtJS-generated views</li>
          				<li>Javascript, jQuery, AJAX</li>
          				<li>XML, HTML, HTML5</li>
          				<li>SASS, Compass CSS</li>
        			</ul>
        		<h3>Contributions to Versions 7.4, 7.5</h3>
        			<ul>
          				<li>Extended SharePoint integration to SharePoint 2013</li>
          				<li>Customer REAs / Bug fixes</li>
          				<li>Extended social features</li>
        			</ul>
        		<h3>Contributions to Versions 8.0, 8.1</h3>
        		    <ul>
          				<li>Chief developer in implementing a complete UI re-skin</li>
          				<li>Developed an e-mail previewer</li>
          				<li>Introduced theming with SASS and Compass CSS</li>
          				<li>Customer REAs / Bug fixes</li>
          				<li>Added keyword filtering capability</li>
          				<li>Instituted document-download functionality</li>
        			</ul>
			</div>
	</div>
	<div class="mg-project-item even">
    	<h2>MobilityWeb</h2>
    	<div class="display-table-row">
    		<div class="mg-project-images first">
    			<h3> 9.0 </h3>
    	    	<div class="mg-lb-img"><a href="/images/MWB9/mwb1.png" data-lightbox="MWB9" data-title="Login screen"><img style="width:44px;" src="/images/MWB9/mwb1.png"/></a></div>
    	    	<div class="mg-lb-img"><a href="/images/MWB9/mwb2.png" data-lightbox="MWB9" data-title="Navigational screen"><img style="width:44px;" src="/images/MWB9/mwb2.png"/></a></div>
    	    	<div class="mg-lb-img"><a href="/images/MWB9/mwb3.png" data-lightbox="MWB9" data-title="Viewing checked-out documents from WorkSite server"><img style="width:44px;" src="/images/MWB9/mwb3.png"/></a></div>
    	    	<div class="mg-lb-img"><a href="/images/MWB9/mwb4.png" data-lightbox="MWB9" data-title="Viewing root folders"><img style="width:44px;" src="/images/MWB9/mwb4.png"/></a></div>
    	    	<div class="mg-lb-img"><a href="/images/MWB9/mwb5.png" data-lightbox="MWB9" data-title="Document preview"><img style="width:44px;" src="/images/MWB9/mwb6.png"/></a></div>
    	    	<div class="mg-lb-img"><a href="/images/MWB9/mwb6.png" data-lightbox="MWB9" data-title="E-mail document as an attachment"><img style="width:44px;" src="/images/MWB9/mwb7.png"/></a></div>
    	    	<div class="mg-lb-img"><a href="/images/MWB9/mwb7.png" data-lightbox="MWB9" data-title="Search for a matter"><img style="width:44px;" src="/images/MWB9/mwb8.png"/></a></div>
    	    </div>
    	    <div class="mg-project-images second">
    	    	<h3> 8.5 </h3>
    	    	<div class="mg-lb-img"><a href="/images/MWB8/mwb1.png" data-lightbox="MWB8" data-title="Login screen"><img style="width:44px;" src="/images/MWB8/mwb1.png"/></a></div>
    	    	<div class="mg-lb-img"><a href="/images/MWB8/mwb2.png" data-lightbox="MWB8" data-title="Navigational screen"><img style="width:44px;" src="/images/MWB8/mwb2.png"/></a></div>
    	    	<div class="mg-lb-img"><a href="/images/MWB8/mwb3.png" data-lightbox="MWB8" data-title="Viewing checked-out documents from WorkSite server"><img style="width:44px;" src="/images/MWB8/mwb3.png"/></a></div>
    	    	<div class="mg-lb-img"><a href="/images/MWB8/mwb4.png" data-lightbox="MWB8" data-title="Viewing root folders"><img style="width:44px;" src="/images/MWB8/mwb4.png"/></a></div>
    	    	<div class="mg-lb-img"><a href="/images/MWB8/mwb5.png" data-lightbox="MWB8" data-title="Document preview"><img style="width:44px;" src="/images/MWB8/mwb5.png"/></a></div>
    	    	<div class="mg-lb-img"><a href="/images/MWB8/mwb6.png" data-lightbox="MWB8" data-title="E-mail document as an attachment"><img style="width:44px;" src="/images/MWB8/mwb6.png"/></a></div>
    	    	<div class="mg-lb-img"><a href="/images/MWB8/mwb7.png" data-lightbox="MWB8" data-title="Search for a matter"><img style="width:44px;" src="/images/MWB8/mwb7.png"/></a></div>
    	    </div>
    		<div class="mg-project-item-body">
    			<h3>What it is</h3>
    			    <ul>
          				<li>A mobile and tablet-friendly web-application.</li>
          				<li>Interfaces with WorkSite server to intelligently display corporate assets</li>
          				<li>Sophisticated metadata searching and display</li>
          				<li>Document previewing </li>
          				<li>Document download </li>
          				<li>Document versioning management tool</li>
        			</ul>
        		<h3>Under the Hood</h3>
        			<ul>
          				<li>JavaScript, JSON, Ajax </li>
          				<li>SASS, Compass CSS </li>
          				<li>ASP .NET Web Forms, C# </li>
        			</ul>
        		<h3>Contributions to Version 9.0</h3>
        			<ul>
          				<li>Complete UI re-skin</li>
          				<li>Bug fixes</li>
          				<li>Versioning/viewing enhancements</li>
          			</ul>
    	   </div>
       </div>
	</div>
  </div>

</div>

<div class="row marketing">
  <h4>Looking for a formal resume?</h4>
  <p class="pad-left-20">
    You can download a PDF version
    <a href="Mari_Gallegos_Resume_2014.pdf" target="_blank" type="application/octet-stream" download="Mari_Gallegos_Resume.pdf">HERE</a>.
  </p>
</div>
