// bower:scss
// endbower


/*Font Styling*/
/*===========================*/
@font-face {
  font-family: 'Midnight';
  src: url('../../fonts/CFMidnight.ttf')  format('truetype');
}

@font-face {
  font-family: 'Dekar';
  src: url('../../fonts/Dekar.otf')  format('truetype');
}

@font-face {
  font-family: 'KSBold';
  src: url('../../fonts/KlinicSlabBold.otf')  format('truetype');
}

@font-face {
  font-family: 'KSBoldIt';
  src: url('../../fonts/KlinicSlabBoldIt.otf')  format('truetype');
}

@font-face {
  font-family: 'KSMedium';
  src: url('../../fonts/KlinicSlabMedium.otf')  format('truetype');
}

@font-face {
  font-family: 'KSMediumIt';
  src: url('../../fonts/KlinicSlabMediumIt.otf')  format('truetype');
}


