// bower:scss
// endbower


/*Font Styling*/
/*===========================*/
@font-face {
  font-family: 'Midnight';
  src: url('../../fonts/CFMidnight.ttf')  format('truetype');
}

@font-face {
  font-family: 'Dekar';
  src: url('../../fonts/Dekar.otf')  format('truetype');
}

@font-face {
  font-family: 'KSBold';
  src: url('../../fonts/KlinicSlabBold.otf')  format('truetype');
}

@font-face {
  font-family: 'KSBoldIt';
  src: url('../../fonts/KlinicSlabBoldIt.otf')  format('truetype');
}

@font-face {
  font-family: 'KSMedium';
  src: url('../../fonts/KlinicSlabMedium.otf')  format('truetype');
}

@font-face {
  font-family: 'KSMediumIt';
  src: url('../../fonts/KlinicSlabMediumIt.otf')  format('truetype');
}

/*New Ones*/

@font-face {
  font-family: 'AmaticBold';
  src: url('../../fonts/Amatic-Bold.ttf')  format('truetype');
}

@font-face {
  font-family: 'Amatic';
  src: url('../../fonts/AmaticSC-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'Bebas';
  src: url('../../fonts/BEBAS___.ttf')  format('truetype');
}

@font-face {
  font-family: 'BlackJack';
  src: url('../../fonts/black_jack.ttf')  format('truetype');
}

@font-face {
  font-family: 'CaptureIt';
  src: url('../../fonts/Capture_it.ttf')  format('truetype');
}


@font-face {
  font-family: 'CaptureIt2';
  src: url('../../fonts/Capture_it_2.ttf')  format('truetype');
}

@font-face {
  font-family: 'FFF';
  src: url('../../fonts/FFF_Tusj.ttf')  format('truetype');
}

@font-face {
  font-family: 'Langdon';
  src: url('../../fonts/Langdon.otf')  format('truetype');
}

@font-face {
  font-family: 'HomesteadDisplay';
  src: url('../../fonts/Homestead-Display.ttf')  format('truetype');
}

@font-face {
  font-family: 'HomesteadInline';
  src: url('../../fonts/Homestead-Inline.ttf')  format('truetype');
}

@font-face {
  font-family: 'HomesteadOne';
  src: url('../../fonts/Homestead-One.ttf')  format('truetype');
}

@font-face {
  font-family: 'HomesteadRegular';
  src: url('../../fonts/Homestead-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'HomesteadThree';
  src: url('../../fonts/Homestead-Three.ttf')  format('truetype');
}

@font-face {
  font-family: 'HomesteadTwo';
  src: url('../../fonts/Homestead-Two.ttf')  format('truetype');
}


@font-face {
  font-family: 'Sketchtica';
  src: url('../../fonts/Sketchtica.ttf')  format('truetype');
}
